@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*, ::before, ::after{
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 5rem;
    font-weight: 600;
    text-align: center;
}
.container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    margin-bottom: 2vh;
    background-color: silver;

}
.container::after{
    content: "";
    display: block;
    clear: both;
}
.container h2 {
    margin-bottom: 10px;
}
.container p {
    line-height: 1.4;
    font-weight: 600;
}
img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    shape-outside: margin-box;
    margin: 0 20px 5px 0;
}
.container h5{
    text-align: center;
    
}
.container u{
    color: black;
    text-shadow: none;
}
.toTop{
    position: fixed;
    bottom: 100px;
    right: 50px;
    width: 100px;
    height: 100px;
    background-color: silver;
    border-radius: 50%;
    border: 3px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
   
}
.toTop img{
    width: 100%;
    height: 100%;
    
    
}
